.profile__info {
  display: flex;
  flex-direction: column;
  width: calc(100% - 120px - 150px - 30px - 30px);
}

@media (max-width: 1024px) {
  .profile__info {
    width: 100%;
    max-width: 581px;
    align-items: center;
    margin: 0 0 31px;
  }
}
