.profile__edit-button {
  display: block;
  grid-area: edit-button;
  width: 24px;
  height: 24px;
  margin: 16px 0 0 20px;
  border: 1px solid #fff;
  background: center / 10px 10px no-repeat
    url(../../../images/svg/edit-button.svg);
  transition: opacity 0.2s ease-in-out;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media (max-width: 1024px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin: 7px 0 0 10px;
    background-size: 7.5px 7.5px;
  }
}
