.profile__add-button {
  flex: none;
  align-self: center;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  background: center / 22px 22px no-repeat
    url(../../../images/svg/add-button.svg);
  transition: opacity 0.2s ease-in-out;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media (max-width: 1024px) {
  .profile__add-button {
    width: 100%;
    max-width: 581px;
    background-size: 16px 16px;
  }
}
