.profile__avatar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: center / 26px 26px no-repeat rgba(0, 0, 0, 0.8)
    url(../../../images/svg/edit-button.svg);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.profile__avatar-overlay:hover {
  opacity: 1;
}
